/* ------ Login ------*/
@import "../../../Theme.scss";

.newPassword {
  background-image: url("../../BackgroundImages/Background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  @include flexbox;

  .newPassword__container {
    height: 300px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    background-color: rgba($color: $white, $alpha: 0.4);

    .newPassword__form {
    //   background-color: lightblue;
      width: 100%;
      height: 100%;
      padding: 30px;

      .newPassword__form__header {
        width: 100%;
        height: 50px;
        // background-color: lightgreen;
        @include flexbox;

        .newPassword__form__header__image {
          height: 70px;
        }
      }

      .newPassword__form__body {
        margin-top: 20px;
        .newPassword__body__item {
          width: 100%;
          height: 55px;
        //   background-color: lightyellow;
          @include flexbox;
          //   &:nth-child(odd) {
          // background-color: lightcoral;
          //   }

          input {
            @include textbox;
          }
        }
       
      }

      .newPassword__button {
        width: 100%;
        height: 55px;
        // background-color: lightgreen;
        margin-top: 10px;
        @include flexbox;
        button {
          @include ButtonGreenDark;
          width: 150px;
        }
      }

     
    }
  }
}


//Media Queries

// ----- WIDTH -----

// MAX-WIDTH : 600px
@media (max-width: "600px") {
  .newPassword {

    .newPassword__container {
      width: 450px;

      .newPassword__form {
        .newPassword__form__header {
          .newPassword__form__header__image {
            height: 60px;
          }
        }

      }
    }
  }
}
// MAX-WIDTH : 500px
@media (max-width: "500px") {
  .newPassword {
    .newPassword__container {
      width: 400px;

      .newPassword__form {
        .newPassword__form__header {
          .newPassword__form__header__image {
            height: 50px;
          }
        }

      }
    }
  }
}
// MAX-WIDTH : 400px
@media (max-width: "400px") {
  .newPassword {
    .newPassword__container {
      width: 90%;
      .newPassword__form {
        .newPassword__form__header {
          .newPassword__form__header__image {
            height: 40px;
          }
        }
      }
    }
  }
}

//Media Queries

// ----- HEIGHT -----
// MAX-HEIGHT : 400px
@media (max-height: "400px") {
  .newPassword {
    height: calc(2* 100vh);
  }
}